.header{
   padding: 14%;
   background-color: rgb(49, 190, 255);
   
}
.header a{
   text-decoration: none;
   padding: 10px;
   background-color: rgba(19, 19, 151, 0.959);
   border-radius: 20px;
   padding: 10px 15px;
   color: beige;
}
.container{
   text-align: center;
}
.container .logo{
   padding-bottom: 15px;
   width: 100%;
   background-color: blue;
}
.header a:hover {
   background-color: lightskyblue;
   color: lightslategray;
}
.header h1{
   padding: 10px;
}
body{
   background-color: rgb(11, 17, 71);
}
footer{
   padding-bottom: 1px;
   background-color: white;
}





